* {
  background-color: #1B1918;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pb-50 {
  padding-bottom: 50px;
}
.ft-15 {
  font-size: 15px;
}

.sidenav {
  background-color: #060505;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav img {
  max-width: 130px;
  background-color: transparent;

}
.sidenav i {
  padding-right: 20px;
}
.btn {
  width: 90%;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.btn-light {
  background-color: white;
  color: black;
}
.btn-dark {
  background-color:#2B2525;
  color: white;
  border-color: white;
}
.sidenav a:last-child {
  font-size: 15px;
}
.fa-home, .fa-search, .fa-book {
  color: white;
  background-color: transparent;
}

main {
  margin-left: 250px;
  padding-left: 30px;
  color: white;
}
.list-inline li {
 text-transform: uppercase;
 padding-right: 20px;
}
