* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

/* SHARED */

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pb-50 {
  padding-bottom: 50px;
}
.plb-20 {
  padding-left: 20px;
  padding-bottom: 30px;
}
.ft-15 {
  font-size: 15px;
}

/* SIDENAV */

.sidenav {
  background-color: #060505;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 20px 0 0 32px;
  overflow: hidden;
}
.logo img {
  max-width: 150px;
  background-color: transparent;
}
.menulink a {
  padding: 6px 6px 6px 0;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}
.menulink a:first-child {
  color: white;
  padding-left: 10px;
  border-left: 2px solid green;
}
.menulink i {
  padding-right: 20px;
}
.btn {
  width: 90%;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.btn-light {
  background-color: white;
  color: black;
}
.btn-dark {
  background-color:#2B2525;
  color: white;
  border-color: white;
}
.cookie a {
  font-size: 11px;
  color: white;
}
.fa-home, .fa-search, .fa-book {
  color: white;
  background-color: transparent;
}

/* MAIN SECTION */

main {
  background-color: #182F34;
  margin-left: 250px;
  margin-bottom: 60px;
  color: white;
  overflow: hidden;
}
.toplist ul li {
 text-transform: uppercase;
 padding-right: 20px;
 font-weight: bold;
 color: grey;
 letter-spacing: 2px;
}
.toplist ul li:first-child {
  color: white;
}
.container-flex {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: center;
}
.music-card {
  padding-bottom: 30px;
}
.music-card img {
  margin-left: 10px;
  padding-left: 10px;
  max-width: 170px;
}
.music-card p {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
}

/* FOOTER */

footer {
  background-color: #282828;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 2;
  bottom: 0;
  left: 0;
  overflow: hidden;
  color: grey;
}
footer i {
  padding: 20px 20px 0 0;
  font-size: 18px;
}
.pink {
  background-color: pink;
}
