* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

/* SHARED */

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pb-50 {
  padding-bottom: 50px;
}
.ft-15 {
  font-size: 15px;
}

/* SIDENAV */

.sidenav {
  background-color: #060505;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 20px 0 0 32px;
}
.logo img {
  max-width: 150px;
  background-color: transparent;
}
.menulink a {
  padding: 6px 6px 6px 0;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}
.menulink a:first-child {
  color: white;
  padding-left: 10px;
  border-left: 2px solid green;
}
.menulink i {
  padding-right: 20px;
}
.btn {
  width: 90%;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 20px;
}
.btn-light {
  background-color: white;
  color: black;
}
.btn-dark {
  background-color:#2B2525;
  color: white;
  border-color: white;
}
.cookie a {
  font-size: 11px;
  color: white;
}
.fa-home, .fa-search, .fa-book {
  color: white;
  background-color: transparent;
}

/* MAIN SECTION */

main {
  background-color: #1B1918;
  margin-left: 250px;
  padding-left: 30px;
  color: white;
}
.list-inline li {
 text-transform: uppercase;
 padding-right: 20px;
}
